
body{
    background-color: rgb(108, 75, 94);
}
.square img { 
   
    max-width: 50vh;
    max-height: 50vh;
    border-radius: 0%;
    
}
img{
   
    max-width: 50vh;
    max-height: 50vh;
    border-radius: 50%;
    
}

h1{
    font-size: xx-large;
}
p{
    font-size: xx-large;
}
li{
    font-size: large;
}
.navbar{
    display: flex;
    justify-content: space-around;
    background-color: rgb(215, 144, 123);
    margin-top: 10px;
    margin-bottom: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 10px 10px;
}
.navbar a  {
    transition: 1s;
    background-color: rgb(221, 225, 217);
    
    
}

.navbar a:hover  {
    transition: 1s;
    background-color: rgb(221, 225, 217);
    padding: 5px;
    border-radius: 50%;
    
}


.row{
    
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
}


.trytocenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.parallax{
    background-image: url("https://wallpapercave.com/wp/wp2234623.jpg") ;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.theform{
 
   width: 75%;
   padding: 75px;
   margin: 0 auto;
    background-color: cyan;
    border-radius: 50%;
    box-shadow: 10px 10px;
    
    
}
.toptheform{
    display: flex;
    justify-content: center;
    align-items: center;
}
.middleform{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.forminputs{
    display: flex;
    flex-direction: column;
}

@media(max-width: 1000px){

    .row{
        display: flex;
        flex-direction: column-reverse;
    }
    }
